<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdswww.library"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <application>
    </application>

</manifest>
